/* style sheet for popup */

body {
    background-color: #f8f8f8;
    margin: 5px;
    max-height: 600px;
    width: 300px;
}

body {
        font-family: 'Roboto', serif;
        font-size: 12px;
}

header {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.settings {
    padding: 5px;
}

.buttons {
    margin-top: 10px;
    position: relative;
    text-align: center;
}

button {
    margin: 0px 10px;
    font-size: 10px;
}

.deleteBtn {
    margin: 0px;
    font-size: 10px;  
}

.usertable {
    margin-bottom: 5px;
}

/* remove underline on links, the delete buttons */
.usertable a {
    text-decoration: none;
}

fieldset {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;    
    border-radius: 4px;
}

legend {
    padding: 2px;    
}
